:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --card-width-desktop: 12.6vw;
  --card-width-mobile: 40vw;
  --row-gap: 1.2rem;

  /* Base spacing unit. Usage: calc(var(--base-space) * multiplier) */
  --base-space: 2px;

  /* Breakpoints */
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1280px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: var(--breakpoint-desktop);
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
}
